html{
    font-size: 62.5%;
}
header{
    padding:10px;
    background:rgba(15,15,15,0.3); 
    margin:0 3% 0;
}
body{
    padding: 100px 0px 80px;
    background: #151515 url("I:\homepage\images\back0.jpg") no-repeat fixed left bottom;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Hiragino kaku Gothic ProN", "Noto Serif JP",serif , sans-serif;
    margin:0 3% 0;

}
.site-title{
    margin: 50px 0px 30px;
    font-size: 7.6rem;
    letter-spacing:10px;
}
.insta {
    display: flex;
    flex-wrap: wrap;
}

.insta_image{
    position: relative;
    width: 50%;
}

