@charset "UTF-8";

html{
    font-size: 62.5%;
}
header{
    padding:50px;
    background:rgba(15,15,15,0.3); 
    margin:0 3% 0;
    text-align: center;
}

body{
    padding: 100px 0px 80px;
    background: #151515 url("I:\homepage\images\back0.jpg") no-repeat fixed left bottom;
    background-size: cover;
    color: #fff;
    text-align: left;
    font-size: 2.0rem;
    line-height: 2rem;
    /*font-family: "Hiragino kaku Gothic ProN", "Noto Serif JP",serif , sans-serif;*/

}
footer{
    padding:50px 0px 0px 0px;
    font-size:1.5rem;
    text-align: center;
}

.white{
    color:black;
    background:rgba(255,255,255,0.6); 
    padding:15px;
    margin: 0 3% 0;
}
.black{
    background-color:rgba(0, 0, 0, 0.6);
    color:white;
    padding:15px;
    margin: 0 3% 0;
}

.site-title{
    margin: 50px 0px 50px;
    font-size: 7.6rem;
    letter-spacing:10px;
}
.menu{
    padding:25px;
    text-align: center;

}
.gyouseki_text{
    padding-bottom:2rem;
    margin: 0 3% 0;
}